In [1]:
print('Hello World')

Hello World

In [2]:
2==2

True

In [3]:
2==1

False

In [4]:
'bey'== 'Bye'

False

In [5]:
'2' == 2

False

In [6]:
2.0==2

True

In [7]:
3 != 3

False

In [8]:
4!=5

True

In [9]:
2 >1

True

In [10]:
2>=2

True

In [11]:
10==10

True

In [12]:
9==10

False

In [13]:
9!=10

True

In [14]:
9>10

False

In [15]:
9<10

True

In [16]:
9>=9

True

In [17]:
9<=9

True

In [20]:
1 < 2 and 23 < 3

False

In [21]:
'a'=='a' and 2==2

True

In [22]:
1 < 2 < 3

True

In [25]:
1==1 or 2==3

True

In [26]:
100==1 or 100==3

False

In [27]:
not 1==1

False

In [28]:
10.2>28 and 20>2

False

In [30]:
23==23 or 'a'=='s'

True

In [31]:
2<1

False

In [32]:
not 2<1

True

In [34]:
not 20==20 and 30==21 and 30==30 or 20==20

True

In [36]:
not 2<1 or 2<1

True

In [38]:
not 8>2 and 9>3 and 10>4

False

In [39]:
d = 777
if d!=None:
    print('Have a nice day')

Have a nice day

In [43]:
d = None
if d!=None:
    print('Have a nice day')
elif d ==777:
    print('Its your lucky day')
else:
    print('Hello')

Hello

In [48]:
mk = 67
if mk<67:
    print('Hello')
else:
    print('Good day')

Good day

In [54]:
if True:
    print('its truel')

its truel

In [55]:
hungry = False
if hungry:
    print('Pleas')
else:
    print('Lol')

Lol

In [56]:
location = 'Bank'
if location == 'Auto':
    print('Cars are cool!')
else:
    print('So what?!')

So what?!

In [57]:
location = 'Bank'
if location == 'Auto':
    print('Cars are cool!')
elif location == 'Bank':
    print('Money is cool!')
else:
    print('So what?!')

Money is cool!

In [58]:
name = 'Mark'
if name == 'Mark':
    print('age 20')
else:
    print('Error')

age 20

In [59]:
name = 'Sam'
if name == 'Mark':
    print('age 20')
else:
    print('Error')

Error

In [63]:
name = 'Sam'
if name == 'Mark':
    print('age 20')
elif name == 'Sam':
    print('age 34')
else:
    print('Error')

age 34

In [64]:
l = [1,2,3,4,5,6,7,8,9,10]
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [65]:
dur = [1,3,4.5, 'alie', 45, 'f']
for K in dur:
    print(K)

1
3
4.5
a
45
f

In [67]:
for letter in 'Hello World!':
    print(letter)

H
e
l
l
o

W
o
r
l
d
!

In [68]:
tup = (1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [69]:
tup = (1,3,5,7,9,11,13,15)
for g in tup:
    print(g)

1
3
5
7
9
11
13
15

In [78]:
l = [(2,3), (3,4), (10,11)]
i=0
for tup in l:
    i+=1 # i = i +1
    print('ireration ' + str(i) + ' value '+ str(tup))

ireration 1 value (2, 3)
ireration 2 value (3, 4)
ireration 3 value (10, 11)

In [79]:
d = {'k1':1, 'k2':2, 'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [83]:
my_d = {'k1':1, 'k2':2, 'k3':3}
for key, value in my_d.items():
    print(key)
    print (value)

k1
1
k2
2
k3
3

In [84]:
My_Keys = {'d1':3, 'd2':90,'d3':34}
for keys, nano in My_Keys.items():
    print(keys)
    print(nano)

d1
3
d2
90
d3
34

In [85]:
My_Keys = {'d1':3, 'd2':90,'d3':34}
for keys, nano in My_Keys.items():
    print(keys, nano)

d1 3
d2 90
d3 34

In [2]:
x = 0 
while x <5:
    print ('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x

In [3]:
x = 0 
while x <5:
    print ('x is currently: ', x)
    print('x is still less than 10, adding 1 to x')
    x+=1
else:
    print('All done')

x is currently:  0
x is still less than 10, adding 1 to x
x is currently:  1
x is still less than 10, adding 1 to x
x is currently:  2
x is still less than 10, adding 1 to x
x is currently:  3
x is still less than 10, adding 1 to x
x is currently:  4
x is still less than 10, adding 1 to x
All done

In [1]:
x = 0 
while x < 10:
    print('x is currently: ', x)
    print ('x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
        break
    else:
        print('contining...')
        continue

x is currently:  0
x is still less than 10, adding 1 to x
contining...
x is currently:  1
x is still less than 10, adding 1 to x
contining...
x is currently:  2
x is still less than 10, adding 1 to x
x==3