In [1]:
t = (1,2,3)
type(t)

tuple

In [3]:
t[0]

1

In [4]:
t[2]

3

In [5]:
my_list = [1, 'a', 'b', 2 ]

In [7]:
t.count(1)

1

In [8]:
t = ('a', 'b', 'c')

In [10]:
t.count('a')

1

In [11]:
t.index('b')

1

In [12]:
my_list

[1, 'a', 'b', 2]

In [13]:
my_list[0] = 'NEW'

In [14]:
my_list

['NEW', 'a', 'b', 2]

In [16]:
myset = set()

In [17]:
myset

set()

In [18]:
myset.add(1)

In [19]:
myset.add(2)

In [20]:
myset

{1, 2}

In [24]:
mylist = (1,1,1,1,1,1,1,12,2,2,2,2,3,3,4,4,4,3,34,34,34,34,44,44,44,44,45)

In [25]:
set(mylist)

{1, 2, 3, 4, 12, 34, 44, 45}

In [26]:
type(mylist)

tuple

In [27]:
True

True

In [28]:
False

False

In [29]:
None

In [30]:
1 > 2

False

In [32]:
1 == 1

True

In [33]:
b = None

In [34]:
b

In [35]:
{'keyl1':'value1', 'keys2':'value2'}

{'keyl1': 'value1', 'keys2': 'value2'}

In [36]:
dict = {'keyl1':'value1', 'keys2':'value2'}

In [37]:
dict

{'keyl1': 'value1', 'keys2': 'value2'}

In [39]:
dict['keyl1']

'value1'

In [40]:
por = {'apple':2.4, 'orange':1.23, 'milk':4.2}

In [41]:
por['milk']

4.2

In [42]:
d = {'k1':123, 'k2':[0,2,1,3,4, 'a'], 'k3': {'insideKey': 100}}

In [43]:
d

{'k1': 123, 'k2': [0, 2, 1, 3, 4, 'a'], 'k3': {'insideKey': 100}}

In [44]:
d['k2'][3]

3

In [46]:
d['k3']['insideKey']

100

In [47]:
a = {'k1': 123, 'k2': [0, 2, 1, 3, 4, 'a'], 'k3': {'insideKey': 100, 'insideKey2': ['aaa', 'inside value']}}

In [48]:
a

{'k1': 123,
 'k2': [0, 2, 1, 3, 4, 'a'],
 'k3': {'insideKey': 100, 'insideKey2': ['aaa', 'inside value']}}

In [49]:
a['k3']['insideKey2'] [1]

'inside value'

In [50]:
q = {'k1': ['a', 'b', 'c']}

In [51]:
q

{'k1': ['a', 'b', 'c']}

In [53]:
mylist = q['k1']

In [54]:
mylist

['a', 'b', 'c']

In [55]:
letter = mylist[2]

In [56]:
letter

'c'

In [57]:
d1 = {'name':1111}

In [58]:
d2 = {'secondname':22222}

In [59]:
d1['name'] = 'Alexander'

In [60]:
d1

{'name': 'Alexander'}

In [61]:
w = {'k1': 123, 'k2': [0, 2, 1, 3, 4, 'a'], 'k3': {'insideKey': 100, 'insideKey2': ['aaa', 'inside value']}}

In [64]:
w.keys()

dict_keys(['k1', 'k2', 'k3'])

In [65]:
w.values()

dict_values([123, [0, 2, 1, 3, 4, 'a'], {'insideKey': 100, 'insideKey2': ['aaa', 'inside value']}])

In [66]:
w.items()

dict_items([('k1', 123), ('k2', [0, 2, 1, 3, 4, 'a']), ('k3', {'insideKey': 100, 'insideKey2': ['aaa', 'inside value']})])

In [67]:
d3 = {'the':3333}

In [69]:
new = {'key1':{},'key2':{},'key3':{}}

In [70]:
new ['key'] = d1

In [71]:
new

{'key1': {}, 'key2': {}, 'key3': {}, 'key': {'name': 'Alexander'}}

In [72]:
tr = {'a':{1, 'wer'}, 'b':{34,31,22}, 'c':{'mer'}}

In [73]:
ret = {'s':13, 'i':{'der', 'ewr', 21}}

In [75]:
v = {'key1':{}, 'key2':{}}

In [79]:
tr

{'a': {1, 'wer'}, 'b': {22, 31, 34}, 'c': {'mer'}}

In [80]:
ret

{'s': 13, 'i': {21, 'der', 'ewr'}}

In [81]:
v ['key1'] = tr

In [82]:
v

{'key1': {'a': {1, 'wer'}, 'b': {22, 31, 34}, 'c': {'mer'}}, 'key2': {}}

In [83]:
v ['key2'] = ret

In [84]:
v

{'key1': {'a': {1, 'wer'}, 'b': {22, 31, 34}, 'c': {'mer'}},
 'key2': {'s': 13, 'i': {21, 'der', 'ewr'}}}

In [93]:
file_object

In [95]:
file_object.close()

In [96]:
file_object

In [98]:
file_object.closed

True

In [99]:
file_object

In [102]:
with open ("test.txt") as file_object :
    for line in file_object :
        print(line)

========

The

++++++++

In [104]:
file_object

In [105]:
file_object .close

In [106]:
file_object

In [107]:
file_object

In [109]:
file_object.close()

In [110]:
file_object