In [1]:
name = 'Monly'

In [2]:
print(name)

Monly

In [3]:
name[2]

'n'

In [4]:
name = 'P' + name[1:]

In [5]:
print(name)

Ponly

In [6]:
name.upper()

'PONLY'

In [7]:
name = 'e' + name[2:]

In [8]:
print(name)

enly

In [16]:
g = ('The {w} {w}'.format(w='ert', q = 'as'))

In [17]:
print(g)

The ert ert

In [20]:
r = (' software developer')

In [21]:
test = g + r
print(test)

The ert ert software developer

In [26]:
print('My %s boy' % 'litlle')

My litlle boy

In [27]:
test.upper()

'THE ERT ERT SOFTWARE DEVELOPER'

In [28]:
test.lower()

'the ert ert software developer'

In [30]:
len(test)

30

In [33]:
test[13]

'o'

In [34]:
salary = 350479/1.5
print(salary)

233652.66666666666

In [41]:
d = ('The salary is {salary:1.2f}'.format(salary=salary))

In [42]:
d

'The salary is 233652.67'

In [43]:
d.upper()

'THE SALARY IS 233652.67'

In [44]:
len(d)

23

In [45]:
d[3]

' '